/* font-family: 'Francois One', sans-serif;
font-family: 'Lato', sans-serif; */

html {
    --background: #060914;
    --blue: #22A8DF; 
    --purple: #6071C3; 
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    background-color: var(--background);
    height: 100%;
    width: 100%;
}

p {
    font-family: 'Lato', sans-serif;
    color: white;
}

/* top navigation bar */

a:hover {
    background-color: var(--purple);
    color: var(--background);
    border-radius: 7%;
}

header {
    position: fixed;
    margin-top: 0px; 
    width: 100%;
    height: 50px;
    display: block;
    background-color: var(--background);
}

nav a{
    padding: 10px;
    margin: 0 7px;
    text-decoration: none;
    font-weight: 600;
    color: var(--purple);
    border: 2px solid var(--purple);
    border-radius: 8%;
}

/* landing page */

#landing_page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    background-image: url(img/background.jpg);
}

#left_box {
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

#left_box h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 75px;
    height: fit-content;
    color: var(--blue);
    margin-bottom: 10px;
}

#left_box h3 {
    margin-top: 10px;
    color: var(--purple);
    height: fit-content;
}

/* right grid containing picture and aws badges */

#grid_container {
    height: 100%;
    width: 50%;
    display: grid;
    grid-template-columns: 170px 170px 170px;
    grid-template-rows: 300px auto; 
    grid-template-rows: 300px;
    column-gap: 10px;
    row-gap: 25px;
    align-content: center;
    justify-content: center;
    place-items: center;
}

.badge {
    width: 150px;
}

#profile {
    width: 300px;
    border-radius: 50%;
    grid-column: 1/4;
}

#scroll_arrow {
    width: 50px; 
    height: 50px;
    position: absolute;
    bottom: 0;  
    margin-left: 50%;
    margin-right: 50%;
}

#scroll_arrow img {
    width: 100%;
    height: 100%;
}

/* bio section */

#bio {
    width: 75%; 
    margin: 200px 100px;
    display: flex;
    flex-direction: row;
}

/* kintamani image */

#bio img {
    width: 25%; 
    display: inline; 
    border-radius: 7%;
}

/* the text for the bio section */

#bio-container {
    margin-left: 100px; 
}

#bio h3 {
    color: var(--purple);
    font-family: 'Montserrat', sans-serif;
    display: inline; 
}

/* experience section */
#experience {
    width: 100%;
    
}

/* company is a container that has every experience */
.company {
    width: 700px; 
    padding: 10px; 
    border: 2px solid whitesmoke;
    border-radius: 2%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;

}

.company h3 {
    color: var(--blue);
    background-color: white;
}

.company h4 {
    color: var(--purple);
    background-color: beige;
}

